@model Pattern.ViewModels.ProductViewModel


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="row">
    <div class="col-8 offset-2">
        <div class="card-body">
            <div class="form-group row">
                <label class="control-label col-2"> Name </label>
                <div class="col-10">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-2"> Description </label>
                <div class="col-10">
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-2"> Price </label>
                <div class="col-10">
                @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>